.profile_img_div {
  width: 30%;
  height: 30%;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
}

.profile_img {
  border-radius: 30%;
}

.profile_head {
  display: flex;
  /* background-color: lightpink; */
}

.profile_info {
  /* background-color: brown; */
}

.profile_button {
  display: flex;
  justify-content: center;
}
