.quiz_title_Wrapper {
  display: flex;
  justify-content: space-around;
}

.quiz_title_inner {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

@media (max-width: 800px) {
  .quiz_title_Wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }

  .settings {
    width: 100%;
  }
}

.quiz_title_settings {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  flex: 0.8;
  justify-content: space-evenly;
}
